.main_container{

    .row.bg-light {
        align-items: stretch;
    }

    .row.bg-light > .col-md-4 {
        display: flex;
    }

    .row.bg-light > .col-md-4 > .buscador_container {
        width: 100%;
        min-height: 0;
    }

    .modal {
        display: flex !important;
        align-items: center !important;

        .modal-dialog{
            z-index: 10 !important;
        }
        
        .modal-backdrop{
            z-index: 9 !important;
        }
        .modal-content{
            z-index: 10s !important;
        }

        
    }

    @media (max-width: 767.98px) {
        .row.bg-light > .col-md-4 {
            display: block;
        }
    }
    
}