.form_main_container{
    margin-top: 30px !important;

    form {

        label{
            font-size: 14px;
            font-weight: 500;
            color: #000000;
        }

        input, select{
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            max-width: 100%;
            border-radius: 5px;
            border: 1px solid #E0E0E0 !important;
            height: 35px;
        }

        .btn_submit{
            
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            background-color: #3F51B5 !important;
            color: #FFFFFF !important;
            font-size: 20px !important;
            font-weight: 500 !important;
            border-radius: 5px !important;
        }
    }
}