.main_container{

    .modal {
        display: flex !important;
        align-items: center !important;

        .modal-dialog{
            z-index: 10 !important;
        }
        
        .modal-backdrop{
            z-index: 9 !important;
        }
        .modal-content{
            z-index: 10s !important;
        }
    }

    .exportar_btn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 2px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    
        &:hover {
            background-color: #295c2b;
        }
    }
    
}